<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/test.css" />
</head>
  <body>
    <h1>Esta página esta en mantenimiento</h1>
    <h3>Solo lo estará hasta que publique mi primer post</h3>
    <h4>Será sobre enumerable, hasta ahora es lo que mas he hablado</h4>
    <h5>y expuesto en el bootcamp</h5>
    <h6>Esta en borrador, debo darle mas orden pero prometo tenerlo listo pronto</h6>
    <h1>Hasta entonces, solo vean la simplesa de una pagina web con Hs tag xD</h1>
  </body>
</html>